relaxNG/schemaMorning.rnc

start = xml
xml = element xml {source, poem}

source = element source {title, author, date}
title = element title {level, text}
level = attribute level {"book" | "inner"}
author = element author {text}
date = element date {when}
when = attribute when {"1951"}

poem = element poem {title, lg+}
lg = element lg {ln+}
ln = element ln {n, mixed{ (place | placeName | motif)* }}
placeName= element placeName {ref, text}
n = attribute n {xsd:integer}
place = element place {ref, text}
ref = attribute ref {"NYC-Harlem" | "NYC-Man" | "NYC-PennSt" | "PR" | "Cuba" | "Ha" | "Ja" | "NYC" | "Ga" | "Fla" | "La" | "NYC-Brook" | "NYC-Bronx"}
motif = element motif {text}
