rncTest/anderson_RNGTest.rnc

# DIGIT 110 RELAX NG TEST INSTRUCTIONS:  
# * Save these test files according to our standard file naming conventions for Canvas submissions.
# * Make the schema well-formed and document with  # comments where you made change(s). 
# * Then, associate the schema with the XML file we have provided for the exam.
# * Next, correct the schema code so that it validates the XML (happy green oXygen for both documents) and document briefly with # comments what you changed and why.
#  **NOTE**: DO NOT CHANGE the markup in the XML file, except to add your schema line!
#
# TIPS: 
# There are 16 critical errors in this Relax-NG schema that will make oXygen's error-checking box RED. Only a few of them will appear at first in the Relax NG. 
# More will be revealed when you associate the schema with the XML file.
# Your goal is to correct each of these errors, making changes ONLY in this schema file.
# When attribute values in the XML represent a datatype, apply a datatype in this schema for full credit. 

# First, correct the schema file so it "turns green" in oXygen. IMPORTANT: Write a comment to document each correction.
# Then, associate your corrected  schema with the XML (and remove the original schema line). 
# At that point the other validation errors will become evident in the XML file.)
# Remember to split your oXygen screen (Window -> Tile Editors Vertically), and carefully examine the XML to see how 
# the elements are written. 
# DO NOT CHANGE THE MARKUP IN THE XML FILE. Make ALL corrections in the Relax NG Schema to make the XML valid according to the schema.
# Save the schema and use the red checkmark in oXygen to check the validation as you go.
#
# **NOTE**: Because this is an exam, you are expected to complete this assignment _individually_ 
# without discussion or help from other students. Any such collaboration will be considered to be plagiarism under the penalties stated on the syllabus.
# *  GITHUB: While you may ask basic questions on the class Slack, GitHub or by email, the instructor's responses will
# be correspondingly minimal: that is, I will not be telling you the complete answers. Similarly, for any
# questions about take-home exams on GitHub, students _must not_ reply to each other.
#
# SUBMITTING YOUR EXAM:
# When you are finished, upload BOTH the schema and the XML file to Canvas using the posted upload point for this exam. 
# You may zip the files to submit them just as you have done for homework assignments.
start = xml
xml = element xml {heading, body} #Attributes use the |, elements use a comma
heading = element heading {title, byline, listNames}
title = element title {text} #Contains "text", it isn't "empty"
byline = element byline {text, mixed {(author, pubTitle, date)}} #Mixed as the elements "author", "pubTitle", and "date" appear in different orders
author = element author {text} 
pubTitle = element pubTitle {text} 
listNames = element listNames {person+, org+, tech+} #Org gets a + as multiple happen
person = element person {role, id, name+, text} #Missing "name" element
org = element org {role, id, name+} #Added a + as "name" shows multiple times
tech = element tech {role, id, name+, source} #Added a + as "name" shows multiple times

role = attribute role {xsd:string} #This thing right here, I couldn't figure out why I kept getting an error for almost 30 minutes, then I did a xsd:string to fit the error and that was the correct answer
id = attribute id {xsd:ID} #Missing correct xsd type, ID

name = element name {text}
source = element source {url, empty}
url = attribute url {xsd:anyURI} #Missing correcr xsd type, anyURI

body = element body {intro+, section+} #Missing "intro" element
intro = element intro {p+}
section = element section {subtitle, p+}
subtitle = element subtitle {text}
p = element p { mixed {(timelapse | date | place | mention | radioFreq | message)*}, text} #Mixed as the elements "timelapse", "date", "place", "mention", "radioFreq", and "message" appear in different orders
radioFreq = element radioFreq {text}
timelapse = element timelapse {dur, text}
dur= attribute dur {text} #Missing "dur" attribute aknowledgement
date = element date {when?, from?, to?, text} 
when = attribute when {xsd:date | xsd:gYear} #Missing "when" attribute aknowledgement
from = attribute from {xsd:date} #Missing "from" attribute aknowledgement
to = attribute to {xsd:date} #Missing "to" attribute aknowledgement
place = element place {text}
mention = element mention {ref, text} 
ref = attribute ref {xsd:IDREF}
message = element message {type?, text} #Missing ? for type as it might show up
type= attribute type {text}











